<div class="iconsDiv">
    <a href="https://en.wikipedia.org/wiki/Bill_Gates" title="More on wiki">
        <span class="material-symbols-outlined">
            captive_portal
            </span>
    </a>

    <a href="https://www.gatesfoundation.org/" title="About foundation">
        <span class="material-symbols-outlined">
            captive_portal
            </span>
    </a>

    <a href="https://www.gatesnotes.com/" title="More about">
        <span class="material-symbols-outlined">
            captive_portal
            </span>
    </a>

    <a href="https://x.com/billgates" title="More in x.com">
        <span class="material-symbols-outlined">
            captive_portal
            </span>
    </a>

   
</div>